<!DOCTYPE html>
<html lang="ja">
<head>
  <meta content="text/html; charset=UTF-8" />
  <style type="text/css">
    h2 {
      color: #2f4f4f;
    }
  </style>  
</head>
<body>
  <h2><%= @name %>さん</h2>
  <p>
    Habitへようこそ！
    ユーザー登録が完了しました。
  </p>
</body>
</html>