/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

/**header*********************************/
header {
  height: 50px;
  background-color: aquamarine;
  display: flex;
}

.heading{
  width: 60%;
  margin-left: 30px;
}

.navbar-list{
  display: flex;
}

.nav-item{
  margin-right: 10px;
}

li {
  list-style: none;
} 

/**top-content 学習目標*********************************/
.top-content{
  height: 200px;
  background-color: #ffffff;
  margin: 0 100px;
  display: flex;
}

.top-left{
  width: 30%;
}

.top-mid{

}

.top-right{

}

/**log-content 学習記録*********************************/
.log-content{
  height: 450px;
  background-color: pink;
  margin: 0 100px;
}


/**footer*********************************/
footer {
  height: 30px;
  background-color: #EEEEEE;
}




