/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

/**header*********************************/
header {
  height: 50px;
  background-color: aquamarine;
  display: flex;
}

.heading{
  width: 50%;
  margin-left: 100px;
  padding: 3px 0px;
}

.heading a {
  text-decoration: none;
  color: #000000;
  font-size: 30px;
}

.navbar-list{
  display: flex;
  padding: 12px 0px;
}

.nav-item{
  margin: 5px 15px 0px 0px;
}

.nav-item a {
  text-decoration: none;
  color: #000000;
}

.nav-item-button{
  margin-right: 10px;
  background-color: #FFFFFF;
  width: 80px;
  height: 20px;
  padding: 3px;
  border-radius: 5px;
}
.nav-item-button a {
  text-decoration: none;
  color: #2f4f4f;
  font-size: 15px;
}


li {
  list-style: none;
} 

/**top-content 学習目標*********************************/
.top-content{
  height: 230px;
  background-color: #ffffff;
  margin: 20px 100px;
  display: flex;
}

.top-left{
  width: 30%;
}

.top-mid{
  width: 25%;
  margin-left: 60px;
}

.top-right{
  width: 30%;
}

/**log-content 学習記録*********************************/
.log-content{
  height: 450px;
  background-color: pink;
  margin: 0 100px;
}


/**footer*********************************/
footer {
  height: 30px;
  background-color: #EEEEEE;
}




